{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ range .Site.Taxonomies.technology }}
        <!-- <h3 style="text-align: center;">{{ .Term }}</h3>
        {{ range .Pages }} -->
            <li>
                <span class="title">
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                </span>
                <!-- <span class="published">
                    <time class="pull-right post-list">{{ .Date | time.Format "January 2006" }}</time>
                </span> -->
            </li>
        <!-- {{ end }} -->
    {{ end }}
</ul>
{{ end }}
